*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    font-size: 2rem;
    color: gray;
    padding: 1.5rem 0px;
}
.logo{
    padding-left: 2rem;
}
.logo span{
    color: black;
    font-weight: bold;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
nav ul li a{
    text-decoration: none;
    color:gray;
}
header{
    box-sizing: border-box;
    max-width: 100%;
    position: relative;
}

.h-logo{
    position: absolute;
    top: 40%;
    left:40%;
    color: white;
    font-size: 4rem;
}
.h-logo span{
    background-color: black;
    /* font-size: 2rem; */
    opacity: 0.5;
    margin-right: 1rem;
    padding: 0 .8rem;
}
.projects{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
}
main{
    width: 90%;
    margin: auto;
}
.projects img,.team img,.contact img{
    width: 100%;
}
.project{
    position: relative;
}
.project-name{
    position: absolute;
    top: 0;
    background-color: black;
    color: white;
    padding: .5rem 1rem;
}
h2{
    margin: 3rem 0;
    border-bottom: 2px solid gray;
    padding: 2rem 0;
    font-size: 2rem;
    font-weight: normal;
}
.teams{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
}

.teams h3{
    font-size: 1.4rem;
    margin-top: 1rem;
}
.teams .team .position{
    margin: 1rem 0;
    color: gray;
    font-size: 1.2rem;
}
.teams .team .team-contact{
    color:black;
    background-color: lightgray;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: .8rem 0px;
    margin: 1rem 0;
}
.contact div input{
    width: 100%;
    padding: 1rem;
    margin: 1rem 0px;
    box-sizing: border-box;
}
.contact div .send-msg{
    width: inherit;
    color: wheat;
    background-color: black;
    padding: 1rem 2rem;
    border: none;
}
footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 2rem;
    margin-top: 1rem;
}

@media (width<1200px) {
    .teams,.projects{
        grid-template-columns: repeat(1,1fr);
    }
    nav ul{
        display:none;
    }
    nav{
        grid-template-columns: 1fr;
        text-align: center;
        padding: 0;
    }
    header .h-logo{
        font-size: 2rem;
    }
    .architect{
        display: none;
    }
}